import { Module } from '@nestjs/common';
import { <%= nameUpperPlural %>Service } from './<%= nameLowerPlural %>.service';
import { <%= nameUpperPlural %>Controller } from './<%= nameLowerPlural %>.controller';
import { DbModule } from '../db/db.module';

@Module({
  controllers: [<%= nameUpperPlural %>Controller],
  providers: [<%= nameUpperPlural %>Service],
  exports: [<%= nameUpperPlural %>Service],
  imports: [DbModule],
})
export class <%= nameUpperPlural %>Module {}
